<!-- Team Section -->
<section id="team" class="team section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>EasyBank's Team</h2>
      <p>Where youthful minds fuel exceptional service! We're a unified team, 
        driven by passion and innovation.</p>
    </div><!-- End Section Title -->
  
    <div class="container">
  
      <div class="row gy-4">
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/mohamed.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Mohamed khelifi</h4>
              <span>Chief Executive Officer</span>
              <p>محمد الخليفي المدير التنفيذي</p>
              <div class="social">
                <a href="https://www.linkedin.com/in/mohamed-khelifi-3b5b58101/"> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/nada.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Nada Ben Nahia</h4>
              <span>Banking Sales Officer</span>
              <p>ندى بن ناهية مسؤولة المبيعات البنكية</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/aziz.jpg" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Aziz Ben Romdhane</h4>
              <span>Chief Operating Officer</span>
              <p>عزيز بن رمضان مدير العمليات</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/yasmin.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Yasmine Ksiaa</h4>
              <span>Back-office Loan Specialist</span>
              <p>ياسمين قصيعة مسؤولة ادارة عمليات القرض</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/skander.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Skander Enaceur</h4>
              <span>Chief Marketing Officer</span>
              <p>إسكندر الناصر مدير التسويق و الاتصال</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/syrine.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Sirine Smida</h4>
              <span>Customer Service Consultant</span>
              <p>سيرين صميدة مسؤولة تطوير خدمة العملاء</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/tasnim.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Tassnim Latrach</h4>
              <span>Customer Service Consultant</span>
              <p>تسنيم الأطرش مكلف بالحرفاء</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <div class="team-member d-flex align-items-start">
            <div class="pic"><img src="assets/img/team/helmi.png" class="img-fluid" alt=""></div>
            <div class="member-info">
              <h4>Helmi Cherif</h4>
              <span>IT consultant</span>
              <p>حلمي الشريف مستشار تكنولوجيا المعلومات</p>
              <div class="social">
                <a href=""> <i class="bi bi-linkedin"></i> </a>
              </div>
            </div>
          </div>
        </div><!-- End Team Member -->
  
  
  
      </div>
  
    </div>
  
  </section><!-- /Team Section -->
  
  