 <!-- About Section -->
 <section id="about" class="about section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>About Us</h2>
    </div><!-- End Section Title -->
  
    <div class="container">
  
      <div class="row gy-4">
  
        <div class="col-lg-6 content" data-aos="fade-up" data-aos-delay="100">
          <p>
            Our mission is to revolutionize medical management by providing an innovative, intuitive, and secure platform
             designed to enhance the experience for both patients and doctors,
              enabling efficient management of appointments, medical records, prescriptions, and more.
               With a focus on automation, traceability, and compliance with regulations, we aim to make healthcare more accessible,
                transparent, and easy to manage while ensuring the confidentiality and security of patient data.
          </p>
       
        </div>
  
        <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
          <p>At ..., we believe that medical management should never be a hurdle but an opportunity
             to enhance healthcare delivery. Our platform is designed to streamline administrative processes in healthcare settings, 
             offering patients and doctors a simple, modern, and secure interface. Our solution optimizes patient care and fosters smooth 
              communication between patients and doctors. We are committed to providing a personalized experience while adhering
              to the highest medical standards and regulations. </p>
        </div>
  
      </div>
  
    </div>
  
  </section><!-- /About Section -->
  
  
  
   <!-- why easybank Section -->
   <section id="skills" class="skills section light-background">
  
    <div class="container" data-aos="fade-up" data-aos-delay="100">
  
      <div class="row">
  
        <div class="col-lg-6 d-flex align-items-center">
          <img src="assets/img/why-us.png" class="img-fluid" alt="">
        </div>
  
        <div class="col-lg-6 pt-4 pt-lg-0 content">
  
          <h3>Why ....? </h3>
          <p class="fst-italic">
            We're a healthcare technology company. Our commitment to professionalism is reflected in our innovative platform. 
            We promote patient-centered care, supporting our patients with the best services and other medical solutions.
            Using advanced data analytics and automation, we provide personalized advisory services and facilitate procedures 
            based on the latest medical standards and regulatory compliance.
          </p>
        </div>
      </div>
  
    </div>
  
  </section>