<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
  
      <a href="index.html" class="logo d-flex align-items-center me-auto">
       
        <span class="sitename">S<span style="text-transform: lowercase;">mart</span><span>M<span style="text-transform: lowercase;">ed</span></span></span>

      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul >
          <li><a href="#hero" class="active" >Welcome to our healthcare platform</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#contact">Contact Us</a></li>
          
          
        </ul>
        <button class="mobile-nav-toggle d-xl-none bi bi-list" aria-label="Toggle navigation"></button>

      </nav>
  
  
    </div>
  </header>
  
  
  <!--  
    <div class="chat-overlay" *ngIf="showChat">
      <app-discussion></app-discussion> 
    </div>-->
    
    <app-main ></app-main>
  
    <app-about id="company"></app-about>
    <app-services id="services"></app-services>
    <app-qa id="qa"></app-qa>
    <app-contact id="contactus"></app-contact>
  
    
    