<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
  
      <a href="index.html" class="logo d-flex align-items-center me-auto">
       
         <img src="assets/img/logo.jpg">

      </a>
  
      <nav id="navmenu" class="navmenu">
        <ul >
          <li><a href="#hero" class="active" >Welcome to our community</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Our Services</a></li>
          <li><a href="#team">Our Team</a></li>
          <li><a href="#contact">Contact Us</a></li>
          
          
        </ul>
        <button class="mobile-nav-toggle d-xl-none bi bi-list" aria-label="Toggle navigation"></button>

      </nav>
  
      <a class="btn-getstarted" href="https://docs.google.com/forms/d/1Wrm_F-2n2hmRW06OYxigkXnyzmribo6MxfRTJE1rsps/viewform?ts=65ccc486&edit_requested=true"><i class="bi bi-card-text"></i>  Submit the Form</a>
  
    </div>
  </header>
  
  
  <!--  
    <div class="chat-overlay" *ngIf="showChat">
      <app-discussion></app-discussion> 
    </div>-->
    
    <app-main ></app-main>
  
    <app-reviews></app-reviews>
    <app-partenariat></app-partenariat>
    <app-about id="company"></app-about>
    <app-services id="services"></app-services>
    <app-qa id="qa"></app-qa>
    <app-team></app-team>
    <app-contact id="contactus"></app-contact>
  
    
    