  <!-- Contact Section -->
  <section id="contact" class="contact section" style="margin:0">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Contact Us</h2>
      <p>Contact for Health!.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

      <div class="row gy-4">

        <div class="col-lg-5">

          <div class="info-wrap">
            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-geo-alt flex-shrink-0"></i>
              <div>
                <h3>Medical Office</h3>
                <p>Cyber Parc, Abdelkader Dgharir Street, Sousse, Tunisia</p>
              </div>
            </div><!-- End Info Item -->

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-envelope flex-shrink-0"></i>
              <div>
                <h3>Email</h3>
                <p>contact&#64;smartmed.tn</p>
              </div>
            </div><!-- End Info Item --> 

            <div class="info-item d-flex" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-telephone flex-shrink-0"></i>
              <div>
                <h3>Phone</h3>
                <p>+216 42 500 000 <br>
                  +216 42 550 000</p>
              </div>
            </div><!-- End Info Item -->

           
          <!--  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25871.470000545494!2d10.59543!3d35.850628!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8a42f3d81941%3A0x91566e7064e70917!2sCyber%20Parc!5e0!3m2!1sen!2stn!4v1724503786252!5m2!1sen!2stn" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>-->
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d25871.470000545494!2d10.59543!3d35.850628!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd8a42f3d81941%3A0x91566e7064e70917!2sCyber%20Parc!5e0!3m2!1sen!2stn!4v1724503786252!5m2!1sen!2stn" frameborder="0" style="border:0; width: 100%; height: 270px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>



      </div>

    </div>

  </section><!-- /Contact Section -->



  <footer id="footer" class="footer light-background" style="margin:0">

    

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-4 col-md-6 footer-about">
          <a href="index.html" class="d-flex align-items-center">
            <span class="sitename">S<span style="text-transform: lowercase;">mart</span><span style="color: #4154f1;">M<span style="text-transform: lowercase;">ed</span></span></span>
          </a>
          <div class="footer-contact pt-3">
            <p>Cyber Parc, Abdelkader Dgharir Street, Sousse, Tunisia</p>
            <p class="mt-3"><strong>Phone</strong> <br> <span>+216 42 500 000 <br>
              +216 42 550 000</span></p>
            <p><strong>Email</strong> <span>contact&#64;smartmed.tn</span></p>

          </div>
        </div>

        <div class="col-lg-4 col-md-4 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bi bi-chevron-right"></i> <a href="#hero">Home</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#about">About us</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#services">Our Services</a></li>
            <li><i class="bi bi-chevron-right"></i> <a href="#contact">Contact Us</a></li>
          </ul>
        </div>

        

        <div class="col-lg-4 col-md-12">
          <h4>Our social media accounts</h4>
          <p>Connect with us through our social networks</p>
          <div class="social-links d-flex">
            <a href="https://www.facebook.com/EasyBankofficial"><i class="bi bi-facebook"></i></a>
            <a href="https://www.linkedin.com/company/easybank-official/"><i class="bi bi-linkedin"></i></a>



          </div>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">SmartMed</strong> <span>All Rights Reserved</span></p>
      <div class="credits">
     
      </div>
    </div>

  </footer>

