
<div class="main-container">
    <div class="flex-row-ed">
      <div class="line"></div>
      <div class="line-1"></div>

      <div>
        <span class="reviews-given">Reviews given</span>
        <span class="m-plus">1M+</span>
      </div>
  
      <div>
        <span class="satisfied-clients">Satisfied clients</span>
        <span class="m-plus-2">1M+</span>
      </div>
  
      <div>
        <span class="projects-completed">Projects completed</span>
        <span class="plus">100+</span>
      </div>
      
    </div>
   
  </div>

  
