.con {
  position: absolute;
  background-color: #f2f5f7;
  height: 100vh;
  height: max-content;
  min-height: 100%;
  padding-bottom: 5%;

  .topbar {
    width: 100%;
    padding: 20px;
    height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;

    img {
      margin-left: 5%;
      cursor: pointer;
      width: 110px;
      height: 150px;
      margin-top: -45px;

    }

    .toggle-menu {
      display: none;
      padding-top: 20px;
      cursor: pointer;
    }

    ul.menu {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: flex-start;

      li {
        cursor: pointer;
        font-family: var(--font-raleway-semi-bold);
        color: #707070;
        font-size: 18px;
        margin-left: 50px;
      }

      .mat-mdc-menu-panel {
        margin-left: -20px;
      }
    }

    li.cnx {
      padding-right: 50px;
      display: flex;
      align-items: center;
      cursor: pointer;
      font-family: var(--font-raleway-semi-bold);
      color: #707070;
      font-size: 18px;
    }
  }

  ul.mobile-menu {
    list-style: none;
    margin: 0;
    display: none;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    padding: 20px;
    width: 100%;
  }

  @media (max-width: 902px) {
    .topbar {
      flex-wrap: wrap;

      .toggle-menu {
        display: flex;
      }

      ul.menu {
        display: none;
      }

      li.cnx {
        display: none;
      }
    }

    ul.mobile-menu {
      display: flex;
    }
  }

  .main {
    display: flex;
    width: 80%;
    padding-top: 5%;
    margin: auto;

    align-items: center;
    .left {
      width: 60%;

      display: flex;
      flex-direction: column;
      h5{
        margin-top: 5%;
        width: 85%;
      }
      .maintext {
        font-size: 50px;
        font-family: var(--font-family-bold);
        color: #292929;
      }
      .secondtitle {
        margin-top: 7%;
        font-family: var(--font-family-medium);
        font-size: 18px;
        color: #292929;
      }
      .checkBtn {
        margin-top: 3%;
        width: 50%;
        padding: 0 10px;
        min-width: 150px;
        border-radius: 25px;
        height: 65px;
        font-family: var(--font-raleway-semi-bold);
        font-size: 16px;

        background: rgb(148, 210, 189);
        background: linear-gradient(
            90deg,
            rgba(148, 210, 189, 1) 0%,
            rgba(71, 136, 120, 1) 100%,
            rgba(2, 0, 36, 1) 100%
        );
        color: #ffffff;
      }
    }
    .right {
      width: 45%;
      text-align: right;

      img{
        width:70% ;
        height: 100%;
      }
    }


  }

  .mainn{
    display: none;
  }
}
@media (max-width: 1100px) {
  .con {
    .main {
      display: none;
    }

    .mainn {
      display: inline-block;
      width: 90%;
      padding-top: 5%;
      margin: auto;
      align-items: center;

      .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        h5 {
          margin-top: 5%;
          width: 95%;
        }

        .maintext {
          font-size: 40px;
          font-family: var(--font-family-bold);
          color: #292929;
        }

        .secondtitle {
          margin-top: 7%;
          font-family: var(--font-family-medium);
          font-size: 18px;
          color: #292929;
        }

        .checkBtn {
          margin-top: 3%;
          width: 50%;
          padding: 0 10px;
          min-width: 150px;
          border-radius: 25px;
          height: 65px;
          font-family: var(--font-raleway-semi-bold);
          font-size: 16px;

          background: rgb(148, 210, 189);
          background: linear-gradient(
              90deg,
              rgba(148, 210, 189, 1) 0%,
              rgba(71, 136, 120, 1) 100%,
              rgba(2, 0, 36, 1) 100%
          );
          color: #ffffff;
        }
      }

      .right {
        max-width: 400px;
        margin-left: 30%;
        text-align: center;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .con {
    .main {
      display: none;
    }

    .mainn {
      display: inline-block;
      width: 90%;
      padding-top: 5%;
      margin: auto;
      align-items: center;

      .left {
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
        h5 {
          margin-top: 5%;
          width: 95%;
        }

        .maintext {
          font-size: 30px;
          font-family: var(--font-family-bold);
          color: #292929;
        }

        .secondtitle {
          margin-top: 7%;
          font-family: var(--font-family-medium);
          font-size: 18px;
          color: #292929;
        }

        .checkBtn {
          margin-top: 3%;
          width: 80%;
          padding: 0 10px;
          min-width: 150px;
          border-radius: 25px;
          height: 65px;
          font-family: var(--font-raleway-semi-bold);
          font-size: 16px;

          background: rgb(148, 210, 189);
          background: linear-gradient(
              90deg,
              rgba(148, 210, 189, 1) 0%,
              rgba(71, 136, 120, 1) 100%,
              rgba(2, 0, 36, 1) 100%
          );
          color: #ffffff;
        }
      }

      .right {
        max-width: 400px;
        margin-left: 22%;
        img {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
