 <!-- Faq 2 Section -->
 <section id="faq-2" class="faq-2 section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Questions and Answers</h2>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row justify-content-center">

        <div class="col-lg-10">

          <div class="faq-container">

            <div class="faq-item faq-active" data-aos="fade-up" data-aos-delay="200">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>How can we contact you?</h3>
              <div class="faq-content">
                <p>It's super easy! Just message us on Easy Bank's website or on our social media pages,
                   and we will contact you to explain all the details, especially how to get the loan.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right" onclick="toggleFAQ(this)"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="300">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>How and when do you respond to my requests?</h3>
              <div class="faq-content">
                <p>We'll guide you through the steps after checking your eligibility for the loan. 
                  Once you decide to proceed, we'll create the loan file, gather necessary documents, 
                  and send them to suitable credit agencies via our platform. They'll respond as quickly as possible.
                </p>
              </div>
              <i class="faq-toggle bi bi-chevron-right" onclick="toggleFAQ(this)"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="400">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>why us ?</h3>
              <div class="faq-content">
                <p>We bring you the best deal quickly and affordably. Additionally, 
                  we serve as your financial advisor, offering guidance for all your
                   banking decisions.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right" onclick="toggleFAQ(this)"></i>
            </div><!-- End Faq item-->

            <div class="faq-item" data-aos="fade-up" data-aos-delay="500">
              <i class="faq-icon bi bi-question-circle"></i>
              <h3>What are your costs?</h3>
              <div class="faq-content">
                <p>We offer free consultation services. If you secure a loan approval through our
                   digital platform, we receive 1% of the loan as a commission.</p>
              </div>
              <i class="faq-toggle bi bi-chevron-right" onclick="toggleFAQ(this)"></i>
            </div><!-- End Faq item-->


          </div>

        </div>

      </div>

    </div>

  </section><!-- /Faq 2 Section -->



<!-- Loan Simulator Section -->
<section id="portfolio" class="portfolio section" style="height: 400px; padding-bottom: 0px;">

  <!-- Section Title -->
  <div class="container section-title" data-aos="fade-up" style="margin-bottom: 0;">
    <h2>Loan Simulator</h2>
    
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row">

        <div class="col-lg-6 d-flex align-items-center">
          <img src="assets/Investment data-bro.png" style="width: 300px; height: 300px; margin-left: 100px;">
        </div>

        <div class="col-lg-6 pt-4 pt-lg-0 content text-center">
          <p class="fst-italic" style="margin-bottom: 10px;">
            Are you eligible? Enter your key information to calculate loan feasibility and monthly payment amounts.
          </p> 
          
          <div class="d-flex justify-content-center" style="margin-top: 10px;">
            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
              <li class="btn btn-primary" routerLink="/loan-calculator" data-filter=".filter-app" style="background-color: #4bbf76; border-color: #4bbf76; color: black; font-size: medium;">Loan Calculator</li>
            </ul>
          </div>
          
        </div>
      </div>
    </div>
  </div><!-- End Section Title -->
  
</section><!-- /Loan Simulator Section -->
