 <!-- Services Section -->
 <section id="services" class="services section light-background">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
      <h2>Our Services</h2>
      <p>Discover the ease of banking with our services</p>
    </div><!-- End Section Title -->

    <div class="container">

      <div class="row gy-4">

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-bank"></i></div>
            <h4><a href="" class="stretched-link">Loan Intermediary</a></h4>
            <p>We act as a middleman between clients and partner banks to facilitate access to the best choices for obtaining suitable loans.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-pen"></i></div>
            <h4><a href="" class="stretched-link">Negotiation</a></h4>
            <p>We collaborate with our network of banking partners to obtain competitive terms and the best costs for our customers.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-chat-dots"></i></div>
            <h4><a href="" class="stretched-link">Financial consulting</a></h4>
            <p>We offer personalized consultations to assist clients in meeting their financial needs. We help them choose the best bank and find suitable financial products.</p>
          </div>
        </div><!-- End Service Item -->

        <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="400">
          <div class="service-item position-relative">
            <div class="icon"><i class="bi bi-card-checklist"></i></div>
            <h4><a href="" class="stretched-link">Extra Services</a></h4>
            <p>We simplify access to banking insurance products through partnerships with banks and insurance companies.</p>
          </div>
        </div><!-- End Service Item -->

      </div>

    </div>

  </section><!-- /Services Section -->




   <!-- Call To Action Section -->
   <section id="call-to-action" class="call-to-action section dark-background">

    <img src="assets/img/cta-bg.jpg" alt="">


    <div class="container">

      <div class="row" data-aos="zoom-in" data-aos-delay="100">
        <div class="col-xl-9 text-center text-xl-start">
          <h3>In an emergency? Need help now?</h3>
        </div>
        <div class="col-xl-3 cta-btn-container text-center">
          <a class="cta-btn align-middle"> Make an Appointment</a>
        </div>
      </div>

    </div>

  </section><!-- /Call To Action Section -->